@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root{
  --txt: rgb(0, 0, 0);
  --pri: rgb(3, 8, 23);
  --sec: rgb(135, 158, 187);
  --ter: rgb(190, 237, 255);
  --qua: rgb(43, 50, 54);
  color: var(--ter);
  font-family: 'Dosis', sans-serif;
}


body {
  padding: 0;
  box-sizing: border-box;
  background: var(--pri);
}

p {
  margin: 0px;
}

.topnav {
  background-color: var(--pri);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14.5px 16px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:hover {
  background-color: var(--ter);
}

.topnav a.split {
  float: right;
  color: var(--pri);
}

.topnav .titre {
  align-items: center;
  color: var(--ter);
  font-size: 49px;
  text-align: center;
  border: 1px solid;
  border-color: var(--ter);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-height: 70%;
  overflow: hidden;
}

#forum{
  max-height: 70%;
  overflow: hidden;
}

.nav_btn {
  color: var(--txt);
  text-align: center;
  background-color: var(--sec);
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--ter);
  overflow: hidden;
  padding: 15px;
}

.left{
  width: calc(20% - 20px);
}

.nav_btn:hover{
  background: var(--ter);
  cursor: pointer;
}

.nav_btn{
  color: var(--txt);
  text-align: center;
  background-color: var(--sec);
  text-decoration: none;
  overflow: hidden;
  width: 100%;
}

.center {
  width: 60%;
  border: 1px solid;
  border-color: var(--ter);
  margin-left: 15px;
  margin-right: 15px;
  display: block;
  height: 70%;
}

.right { 
  float: right;
  width: calc(20% - 20px);
}

.btn {
  color: var(--txt);
  text-align: center;
  background-color: var(--sec);
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--ter);
}

.left_btn {
  color: var(--txt);
  text-align: center;
  background-color: var(--sec);
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--ter);
  overflow: hidden;
  padding: 15px;
}

.botnav {
  background-color: var(--pri);
  overflow: hidden;
  width: 99.3%;
  border: 1px solid;
  border-color: var(--ter);
  position: fixed;
  bottom: 0px;
}

.botnav a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.botnav a:hover {
  background-color: var(--ter);
}

.botnav span {
  align-items: center;
  color: var(--ter);
  font-size: 25px;
  line-height: 59px;
  padding-left: 15px;
  text-align: center;
  text-decoration: none;
}

.f_titre{
  font-size: 25px;
  line-height: 50px;
}

input{
  width: 300px;
  height: 50px;
  font-size: 20px;
  border: 1px solid;
  border-color: var(--ter);
  color: var(--ter);
  background: var(--pri);
}

.txt-input {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 30px;
  padding: 1px 6px;
  background: transparent;
}

.txt-input {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 30px;
  background: transparent;
}

.txt-input[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}

.C_content{
  display: flex;
  justify-content: center;
}

.lien{
  align-items: center;
  color: var(--ter);
  font-size: 25px;
  text-decoration: none;
}

.C_content a {
  margin-right: 20px;
}

.lien:hover {
  color: var(--sec);
}

.ext_cat{
  border: 1px solid;
  border-color: var(--ter);
}

.spacer5{
  height: 50px;
}

.spacer10{
  height: 100px;
}

.spacer2{
  height: 20px;
}

.msgl{
  color: var(--sec);
  margin-bottom: 2px;
  float: left;
  margin-left: 30px;
  width: 90%;
}

.msgr{
  color: var(--sec);
  margin-bottom: 2px;
  float: right;
  margin-left: 30px;
  width: 90%;
}

.msgL{
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  border-left: 1px solid;
  border-color: var(--ter);
  width: 90%;
  background: var(--qua);
  background: linear-gradient(90deg, var(--pri) 0%, var(--pri) 1%, var(--qua) 1.1%, var(--qua) 42%, var(--pri) 100%);
}

.msgR{
  float: right;
  margin-right: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  border-right: 1px solid;
  border-color: var(--ter);
  width: 90%;
  background: var(--qua);
  background: linear-gradient(270deg, var(--pri) 0%, var(--pri) 1%, var(--qua) 1.1%, var(--qua) 42%, var(--pri) 100%);
}

.sw1 {
  width: 20px;
}

.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  background: transparent;
}

.txt_editor{
  width: 100%;
}

.txt_editor table {
  width: 100%;
}

#message {
  resize: none;
  height: 200px;
  color: var(--ter);
}

.limit_btn {
  max-width: 200px;
}

.edit_btn {
  color: var(--txt);
  text-align: center;
  background-color: var(--sec);
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--ter);
  overflow: hidden;
  padding: 5px;
}

.edit_btn:hover{
  background: var(--ter);
  cursor: pointer;
}

.edit_btn{
  color: var(--txt);
  text-align: center;
  background-color: var(--sec);
  text-decoration: none;
  overflow: hidden;
  width: 100%;
  max-width: 200px;
}

